In [1]:
import pandas as pd
import numpy as np

In [2]:
dframe = pd.DataFrame(np.arange(16).reshape((4,4)))

In [7]:
blender = np.random.permutation(4)
blender

array([0, 3, 1, 2])

In [8]:
dframe

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
# permutate row

dframe.take(blender)

# take blender as an index

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
1   4   5   6   7
2   8   9  10  11

In [11]:
dframe.take(blender, axis = 1)

# take blender as col

    0   3   1   2
0   0   3   1   2
1   4   7   5   6
2   8  11   9  10
3  12  15  13  14

In [13]:
# permutate with replace

box = np.array([1,2,3])

In [16]:
shaker = np.random.randint(0, len(box), size = 10)
shaker

# np.random.randint(A, B, size = C)
# between the integer A and B
# number of array = C

array([2, 0, 0, 2, 1, 1, 1, 2, 1, 1])

In [18]:
hand_grabs = box.take(shaker)
hand_grabs

# take the number from box.
# shaker's value = index of box

array([3, 1, 1, 3, 2, 2, 2, 3, 2, 2])