In [12]:
import numpy as np
import pandas as pd

In [13]:
ser1 = pd.Series([1,2,3,4], index = ['A', 'B', 'C', 'D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [14]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [15]:
ser2

# automatically fill with null value

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [16]:
ser2 = ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F', 'G'], fill_value = 0)
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [17]:
ser2 = ser2.fillna(999)
ser2

A      1.0
B      2.0
C      3.0
D      4.0
E    999.0
F    999.0
G      0.0
dtype: float64

In [30]:
ser3 = pd.Series(['USA', 'Mexico', 'Canada'], index = [0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [31]:
ranger = range(15)
ranger

range(0, 15)

In [32]:
ser4 = ser3.reindex(ranger, method='ffill')
# ser4 = ser3.reindex(ranger, method='pad')
ser4

# df.reindex(): https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reindex.html
# method{None, ‘backfill’/’bfill’, ‘pad’/’ffill’, ‘nearest’}

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [36]:
ser4 = ser3.reindex(ranger, method='backfill')
# ser4 = ser3.reindex(ranger, method='bfill')
ser4

0        USA
1     Mexico
2     Mexico
3     Mexico
4     Mexico
5     Mexico
6     Canada
7     Canada
8     Canada
9     Canada
10    Canada
11       NaN
12       NaN
13       NaN
14       NaN
dtype: object

In [37]:
ser4 = ser3.reindex(ranger, method='nearest')
ser4

0        USA
1        USA
2        USA
3     Mexico
4     Mexico
5     Mexico
6     Mexico
7     Mexico
8     Canada
9     Canada
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [46]:
dframe = pd.DataFrame(np.random.randn(25).reshape((5,5)), index = ['A','B', 'D', 'E', 'F'],
                      columns = ['col1', 'col2', 'col3', 'col4', 'col5'] )
dframe

       col1      col2      col3      col4      col5
A  1.630748  0.243066  0.288527 -0.677607 -0.632791
B -0.738145 -2.256565 -0.685591 -0.753330  0.536354
D  0.861394 -0.203694 -1.681245  1.193336  0.197752
E  0.734093 -0.037538 -0.074639 -0.289598 -0.777395
F -0.402879 -0.291074 -2.197475  1.850217  0.580148

In [47]:
dframe2 = dframe.reindex(['A', 'B', 'C', 'D', 'E', 'F'])
dframe2

       col1      col2      col3      col4      col5
A  1.630748  0.243066  0.288527 -0.677607 -0.632791
B -0.738145 -2.256565 -0.685591 -0.753330  0.536354
C       NaN       NaN       NaN       NaN       NaN
D  0.861394 -0.203694 -1.681245  1.193336  0.197752
E  0.734093 -0.037538 -0.074639 -0.289598 -0.777395
F -0.402879 -0.291074 -2.197475  1.850217  0.580148

In [48]:
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [49]:
dframe3 = dframe2.reindex(columns = new_columns)
dframe3

       col1      col2      col3      col4      col5  col6
A  1.630748  0.243066  0.288527 -0.677607 -0.632791   NaN
B -0.738145 -2.256565 -0.685591 -0.753330  0.536354   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.861394 -0.203694 -1.681245  1.193336  0.197752   NaN
E  0.734093 -0.037538 -0.074639 -0.289598 -0.777395   NaN
F -0.402879 -0.291074 -2.197475  1.850217  0.580148   NaN

In [51]:
dframe.ix[['A', 'B', 'C', 'D', 'E', 'F'], new_columns]

C:\Users\82102\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

KeyError: "['C'] not in index"