In [83]:
import numpy as np
import pandas as pd

# from pandas import Series, DataFrame

In [84]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [117]:
nfl_frame = pd.read_clipboard()
nfl_frame

# ctl + C: copy on clipboard()

     1        Dallas Cowboys    914  520  388   6   .572  1960   NFC East
0    2     Green Bay Packers  1,368  756  574  38  0.567  1921  NFC North
1    3  New England Patriots    916  512  395   9  0.564  1960   AFC East
2    4         Chicago Bears  1,402  769  591  42  0.563  1920  NFC North
3    5      Baltimore Ravens    384  214  169   1  0.559  1996  AFC North
4    6        Miami Dolphins    832  457  371   4  0.552  1966   AFC East
5    7     Minnesota Vikings    902  488  403  11  0.547  1961  NFC North
6    8   San Francisco 49ers  1,034  545  475  14  0.534  1950   NFC West
7    9       New York Giants  1,337  696  608  33  0.533  1925   NFC East
8   10        Denver Broncos    916  483  423  10  0.533  1960   AFC West
9   11    Kansas City Chiefs    916  481  423  12  0.532  1960   AFC West
10  12   Pittsburgh Steelers  1,224  636  566  22  0.529  1933  AFC North
11  13    Indianapolis Colts    998  523  468   7  0.528  1953  AFC South
12  14     Las Vegas Raiders    916  473  432  11  0.522  1960   AFC West
13  15      Seattle Seahawks    692  355  336   1  0.514  1976   NFC West

In [118]:
nfl_frame = nfl_frame.rename(columns = {'1': 'Rank','Dallas Cowboys': 'Team','914': 'GP','520': 'Win','388': 'Lost','6': 'Tied','.572': 'Pct','1960':'First NFL Season','NFC East': 'Division'})
nfl_frame

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division
0,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
1,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
2,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
3,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
4,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
5,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
6,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
7,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
8,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
9,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
10,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North
11,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
12,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
13,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West

In [119]:
temp = pd.DataFrame({'Rank':['1'],'Team': ['Dallas Cowboys'],'GP': ['914'],'Win': ['520'],'Lost':[ '388'],'Tied':[ '6'],'Pct':[ '.572'],'First NFL Season': ['1960'],'Division': ['NFC East']})
nfl_frame = nfl_frame.append(temp)
nfl_frame

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division
0,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
1,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
2,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
3,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
4,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
5,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
6,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
7,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
8,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
9,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
10,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North
11,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
12,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
13,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West
0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East

In [120]:
nfl_frame.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 0 to 0
Data columns (total 9 columns):
Rank                15 non-null object
Team                15 non-null object
GP                  15 non-null object
Win                 15 non-null object
Lost                15 non-null object
Tied                15 non-null object
Pct                 15 non-null object
First NFL Season    15 non-null object
Division            15 non-null object
dtypes: object(9)
memory usage: 1.2+ KB

In [121]:
nfl_frame['Rank'] = nfl_frame['Rank'].astype(int)
nfl_frame = nfl_frame.sort_values(by = ['Rank'])
nfl_frame

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East
0,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
1,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
2,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
3,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
4,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
5,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
6,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
7,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
8,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
9,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
10,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North
11,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
12,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
13,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West

In [122]:
nfl_frame = nfl_frame.reset_index()
nfl_frame

,index,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division
0,0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East
1,0,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,1,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,2,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,3,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,4,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,5,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,6,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,7,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,8,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,9,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,10,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North
12,11,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
13,12,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
14,13,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West

In [127]:
nfl_frame = nfl_frame.drop('index', axis = 1)
nfl_frame

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division
0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West
11,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West

In [128]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Win', 'Lost', 'Tied', 'Pct', 'First NFL Season',
       'Division'],
      dtype='object')

In [130]:
nfl_frame.Rank

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
Name: Rank, dtype: int32

In [132]:
nfl_frame.Team

0           Dallas Cowboys
1        Green Bay Packers
2     New England Patriots
3            Chicago Bears
4         Baltimore Ravens
5           Miami Dolphins
6        Minnesota Vikings
7      San Francisco 49ers
8          New York Giants
9           Denver Broncos
10      Kansas City Chiefs
11     Pittsburgh Steelers
12      Indianapolis Colts
13       Las Vegas Raiders
14        Seattle Seahawks
Name: Team, dtype: object

In [134]:
nfl_frame['First NFL Season']

0     1960
1     1921
2     1960
3     1920
4     1996
5     1966
6     1961
7     1950
8     1925
9     1960
10    1960
11    1933
12    1953
13    1960
14    1976
Name: First NFL Season, dtype: object

In [139]:
# DataFrame(nfl_frame, columns = ['Team', 'First NFL Season', 'GP'])
nfl_frame[['Team', 'First NFL Season', 'GP']]

                    Team First NFL Season     GP
0         Dallas Cowboys             1960    914
1      Green Bay Packers             1921  1,368
2   New England Patriots             1960    916
3          Chicago Bears             1920  1,402
4       Baltimore Ravens             1996    384
5         Miami Dolphins             1966    832
6      Minnesota Vikings             1961    902
7    San Francisco 49ers             1950  1,034
8        New York Giants             1925  1,337
9         Denver Broncos             1960    916
10    Kansas City Chiefs             1960    916
11   Pittsburgh Steelers             1933  1,224
12    Indianapolis Colts             1953    998
13     Las Vegas Raiders             1960    916
14      Seattle Seahawks             1976    692

In [140]:
nfl_frame['Total Game'] = nfl_frame['Win'].astype(int) + nfl_frame['Lost'].astype(int) + nfl_frame['Tied'].astype(int)

In [142]:
nfl_frame[['Team', 'First NFL Season', 'Total Game']]
# Total Game = GP

                    Team First NFL Season  Total Game
0         Dallas Cowboys             1960         914
1      Green Bay Packers             1921        1368
2   New England Patriots             1960         916
3          Chicago Bears             1920        1402
4       Baltimore Ravens             1996         384
5         Miami Dolphins             1966         832
6      Minnesota Vikings             1961         902
7    San Francisco 49ers             1950        1034
8        New York Giants             1925        1337
9         Denver Broncos             1960         916
10    Kansas City Chiefs             1960         916
11   Pittsburgh Steelers             1933        1224
12    Indianapolis Colts             1953         998
13     Las Vegas Raiders             1960         916
14      Seattle Seahawks             1976         692

In [145]:
nfl_frame.head()

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division,Total Game
0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East,914
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1368
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,916
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,1402
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,384

In [146]:
nfl_frame.tail(2)

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division,Total Game
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West,916
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West,692

In [147]:
nfl_frame.ix[3]
# df.ix[index]

C:\Users\82102\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                            4
Team                Chicago Bears
GP                          1,402
Win                           769
Lost                          591
Tied                           42
Pct                         0.563
First NFL Season             1920
Division                NFC North
Total Game                   1402
Name: 3, dtype: object

In [148]:
nfl_frame['Stadium'] = "Levi's Stadium"
# create feature called 'Stadium'
nfl_frame

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division,Total Game,Stadium
0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East,914,Levi's Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1368,Levi's Stadium
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,916,Levi's Stadium
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,1402,Levi's Stadium
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,384,Levi's Stadium
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,832,Levi's Stadium
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,902,Levi's Stadium
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,1034,Levi's Stadium
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,1337,Levi's Stadium
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,916,Levi's Stadium
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West,916,Levi's Stadium
11,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North,1224,Levi's Stadium
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South,998,Levi's Stadium
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West,916,Levi's Stadium
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West,692,Levi's Stadium

In [150]:
nfl_frame['Stadium'] = np.arange(15)
nfl_frame

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division,Total Game,Stadium
0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East,914,0
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1368,1
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,916,2
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,1402,3
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,384,4
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,832,5
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,902,6
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,1034,7
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,1337,8
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,916,9
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West,916,10
11,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North,1224,11
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South,998,12
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West,916,13
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West,692,14

In [157]:
stadiums = pd.Series(["Levi's Staduim", "AT&T Stadium"], index=[5,0])
stadiums

5    Levi's Staduim
0      AT&T Stadium
dtype: object

In [158]:
nfl_frame['Stadium'] = stadiums
nfl_frame

# assign stadiums to Stadium

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division,Total Game,Stadium
0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East,914,AT&T Stadium
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1368,NaN
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,916,NaN
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,1402,NaN
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,384,NaN
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,832,Levi's Staduim
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,902,NaN
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,1034,NaN
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,1337,NaN
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,916,NaN
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West,916,NaN
11,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North,1224,NaN
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South,998,NaN
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West,916,NaN
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West,692,NaN

In [159]:
del nfl_frame['Stadium']
nfl_frame

,Rank,Team,GP,Win,Lost,Tied,Pct,First NFL Season,Division,Total Game
0,1,Dallas Cowboys,914,520,388,6,.572,1960,NFC East,914
1,2,Green Bay Packers,"1,368",756,574,38,0.567,1921,NFC North,1368
2,3,New England Patriots,916,512,395,9,0.564,1960,AFC East,916
3,4,Chicago Bears,"1,402",769,591,42,0.563,1920,NFC North,1402
4,5,Baltimore Ravens,384,214,169,1,0.559,1996,AFC North,384
5,6,Miami Dolphins,832,457,371,4,0.552,1966,AFC East,832
6,7,Minnesota Vikings,902,488,403,11,0.547,1961,NFC North,902
7,8,San Francisco 49ers,"1,034",545,475,14,0.534,1950,NFC West,1034
8,9,New York Giants,"1,337",696,608,33,0.533,1925,NFC East,1337
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West,916
10,11,Kansas City Chiefs,916,481,423,12,0.532,1960,AFC West,916
11,12,Pittsburgh Steelers,"1,224",636,566,22,0.529,1933,AFC North,1224
12,13,Indianapolis Colts,998,523,468,7,0.528,1953,AFC South,998
13,14,Las Vegas Raiders,916,473,432,11,0.522,1960,AFC West,916
14,15,Seattle Seahawks,692,355,336,1,0.514,1976,NFC West,692

In [160]:
data = {'City':["SF", "LA", "NYC"], 'Population': [837000, 388000, 840000]}
# meaning of {} : dictionary

In [162]:
city_frame = pd.DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA      388000
2  NYC      840000

In [ ]:
# how to make DataFrame
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html