In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

In [4]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [7]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
ww2_cas = Series([8700000,4300000, 300000, 210000, 40000], index = ['USSR', 'Germany', 'China', 'Japan', 'USA'])
ww2_cas

USSR       8700000
Germany    4300000
China       300000
Japan       210000
USA          40000
dtype: int64

In [15]:
ww2_cas['USA']

40000

#### Check which countries had cas greater than 4 million

In [16]:
ww2_cas[ww2_cas > 400000]

USSR       8700000
Germany    4300000
dtype: int64

In [17]:
'USSR' in ww2_cas

True

In [19]:
ww2_dict = ww2_cas.to_dict()
ww2_dict
# change to dictionary

{'USSR': 8700000,
 'Germany': 4300000,
 'China': 300000,
 'Japan': 210000,
 'USA': 40000}

In [20]:
ww2_series = Series(ww2_dict)
ww2_series
# change it to Series again

USSR       8700000
Germany    4300000
China       300000
Japan       210000
USA          40000
dtype: int64

In [23]:
countries = ['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']
countries

['China', 'Germany', 'Japan', 'USA', 'USSR', 'Argentina']

In [25]:
obj2 = Series(ww2_dict, index = countries)
obj2

China         300000.0
Germany      4300000.0
Japan         210000.0
USA            40000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [27]:
pd.isnull(obj2)
# is it NaN?

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [29]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [30]:
ww2_series

USSR       8700000
Germany    4300000
China       300000
Japan       210000
USA          40000
dtype: int64

In [32]:
obj2

China         300000.0
Germany      4300000.0
Japan         210000.0
USA            40000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [33]:
# add object (including index)
ww2_series + obj2

Argentina           NaN
China          600000.0
Germany       8600000.0
Japan          420000.0
USA             80000.0
USSR         17400000.0
dtype: float64

In [35]:
obj2.name = "World War 2 Casualties"
obj2

China         300000.0
Germany      4300000.0
Japan         210000.0
USA            40000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [36]:
obj2.index.name = "Countries"
obj2

Countries
China         300000.0
Germany      4300000.0
Japan         210000.0
USA            40000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64