In [4]:
import pandas as pd

In [5]:
# conda install xlrd
# conda install openpyxl

In [6]:
xlsfile = pd.ExcelFile('lec28.xlsx')
xlsfile

In [7]:
dframe = xlsfile.parse('Sheet1')
dframe

   this is a test  Unnamed: 1  Unnamed: 2
0             123        1425          45
1              12         453          75
2              32           2          23
3             321       86857         782