In [1]:
import numpy as np

In [2]:
my_list1 = [1,2,3,4]
my_list1

[1, 2, 3, 4]

In [3]:
my_array1 = np.array(my_list1)
my_array1

array([1, 2, 3, 4])

In [4]:
my_list2 = [11,22,33,44]

In [5]:
my_lists = [my_list1, my_list2]

In [6]:
my_lists

[[1, 2, 3, 4], [11, 22, 33, 44]]

In [12]:
my_array2 = np.array(my_lists)
my_array2

array([[ 1,  2,  3,  4],
       [11, 22, 33, 44]])

In [14]:
my_array2.shape

(2, 4)

In [15]:
my_array2.dtype

dtype('int32')

In [17]:
np.zeros(5)
# output is decimal type -> float

array([0., 0., 0., 0., 0.])

In [18]:
my_zeros_array = np.zeros(5)
my_zeros_array.dtype

dtype('float64')

In [21]:
np.ones([5,5])
# float type

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [22]:
np.empty(5)

array([3.73525819e-301, 3.07549283e-238, 1.81370156e+243, 2.21945602e-301,
       5.21713887e-307])

In [23]:
np.eye(5)
# identity (square) matrix

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [24]:
np.arange(5)

array([0, 1, 2, 3, 4])

In [26]:
np.arange(5, 50, 2)
# 5 to 49, increasing with 2

array([ 5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37,
       39, 41, 43, 45, 47, 49])